#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
form {
  display: contents;
}
.sunIcon {
  position: fixed;
  right: 44px;
  top: 22px;
}
.taskIcon {
  right: -161px;
  top: -20px;
  position: relative;
}
.itemsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  border-radius: 10px;
  max-width: 380px;
}
.title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Be Vietnam Pro;
  font-size: 10px;
  font-style: italic;
  font-weight: 800;
  line-height: 40px; /* 102.564% */
}
h1 {
  position: inherit;
}
.elipse1 {
  position: absolute;
  top: -7px;
  right: 298px;
  z-index: 2;
}
.elipse2 {
  position: absolute;
  top: 1px;
  right: 282px;
}
ul {
  list-style-type: none;
  padding-inline-start: 0px;
  flex-direction: column;
}

.inputsField {
  display: grid;
  grid-template-columns: 0.5fr 0.6fr;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  margin: 8px;
  padding: 8px;
}
input {
  flex-grow: 2;
  border: none;
  max-width: 100%;
  height: 20px;
}
.deleteButtonStyle {
  border-radius: 0px;
  box-sizing: inherit;
  height: 22px;
  padding: 0px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button:focus,
input:focus {
  outline: none;
}
.newItem {
  box-sizing: border-box;
  max-width: 100%;
  word-wrap: break-word;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: start;
  grid-template-columns: minmax(0, 2fr) 0.1fr 0.1fr;
  gap: 0px 10px;
  margin: 2%;
  padding: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.heading6 {
  font-family: Be Vietnam Pro;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  color: var(--neutral-80);
}
.itemName {
  grid-column: 1;
  max-width: 100%;
  padding-left: 3px;
  margin: 0px;
  height: 26px;
}
.line {
  width: 282.002px;
  height: 0px;
  margin-top: 0px;
}
.checked {
  background: var(--neutral-40, #9a9a9a);
  height: 51px;
  .line {
    margin-top: -10px;
    border-color: #282828;
  }
  .itemName {
    background-color: var(--neutral-40, #9a9a9a);
  }
}
.notChecked {
}
