#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.itemsPage {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  border-radius: 10px;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4px;
  letter-spacing: 1px;
  font-family: fangsong;
  padding: 5px;
}
.title h1:after,
.title h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color: #f8f8f8;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  flex-direction: column;
}
li {
  font-family: fangsong;
}
input {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: -1px;
}
.inputsField {
  display: flex;
  flex-direction: row;
  max-width: 20%;
}

.newItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
  margin: 2%;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.checked {
  background-color: gray;
}
.notChecked {
}
